@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(fonts/Raleway-Bold.ttf);
}


* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 150px 1fr;
    height: 1080px;
    margin: 0;
    padding: 0;
    font-family: "Raleway",sans-serif;
}

.sidebar {
    background-color: darkslategray;
    grid-row: 1/-1;
    display: grid;
    align-content: start;
    gap: 30px;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px 30px;
}

.maincontent {
    background-color: grey;
}

.sidebar .top {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-family: "Raleway-Bold",sans-serif;
    font-size: 28px;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    align-items: center;

}

.sidebar .top img {
    filter: invert(1);
}

.sidebar .menu {
    padding-left: 20px;
    display: grid;
    gap: 15px;
}

.menu li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu li a {
    color: white;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    align-items: center;
}

.menu li a img {
    filter: invert(1);
    width: 55%;
    justify-self: center;
}

#search {
    align-content: center;
    display: grid;
    grid-template-columns: 36px 1fr;
    gap: 5px;
}

#searchbar {
    border-style: solid;
    border-width: 2px;
    background-color: slategray;
    border-radius: 20px;
    width: min(800px, 100%);
    font-size: 16px;
    padding: 4px 8px;
}

#searchbar:focus {
    outline: none;
    border-style: solid;
    border-color: black;
}

.profile {
    display: grid;
    grid-template-columns: 36px 40px 1fr;
    gap: 15px;
    align-items: center;
    justify-self: right;
    background-color: aqua;
}

.greetings {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 2fr 3fr;
    align-items: center;
    justify-content: left;
    background-color: brown;
}

.greetings .icon {
    grid-row: 1/-1;
}

.greetings .hi {
    font-size: 14px;
    font-family: "Raleway-Bold", sans-serif;
    align-self: self-end;
}

.greetings .username {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 24px;
    align-self:self-start;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
    justify-content: right;
}

.transparent {
    border: none;
    text-decoration: none;
    background-color: inherit;
}

.icon {
    border-radius: 50%;
    background-color: black;
}

.profile .icon {
    height: 40px;
}

.greetings .icon {
    height: 60px;
}